@font-face {
  font-family: 'MyCustomFont';
  src: url('fonts/A03_Octagon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: 'MyCustomFont', sans-serif;
  background-repeat: epeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.bg-index::before {
  background-image: url(images/ps-wallpaper.jpg);
}

.bg-ns::before {
  background-image: url(images/ns-wallpaper.jpg);
}

    h2 {
      margin-bottom: 0.5rem;
      color: white;
    }

    .nav-div {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
      background-color: #4b0532;
      border-radius: 30px;
      margin-bottom: 20px;
    }

    .nav-div img {
      width: 100px;
      height: 100px;
    }

    .nav-div a {
      width: 100%;
      border-radius: 30px;
    }

    .banner-div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 3rem;
    }

    .banner-div span {
      color: red;
    }

    .banner-div img {
      width: 100%;
      height: 100%;
      border-radius: 30px;
    }

     .banner-div h2 {
      text-align: center;
      line-height: 50px;
     }

    .main-console-div {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .main-console-div img {
        width: 50px;
        height: 50px;
    }
    
    .main-console-div a {
        padding: 10px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        text-align: center;
    }

    .ps-a {
        background-color: #004098;
        border-radius: 20px 0 0 20px;
    }

    .ps-a:hover {
        background-color: #b79bad;
    }

    .ns-a {
        background-color: #FF0002;
        border-radius: 0 20px 20px 0;
    }

    .ns-a:hover {
        background-color: #b79bad;
    }

    .main-title {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .game-desc {
      color: whitesmoke;
      line-height: 1.5;
        background-color: white;
        padding: 20px;
        margin: 2rem;
        border-radius: 30px;
        transition: opacity 0.3s ease;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px) saturate(120%);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    #searchInput {
      width: 98%;
      padding: 1rem;
      font-size: 1rem;
      margin-bottom: 1rem;
      border-radius: 20px;
      color: white;
      transition: opacity 0.3s ease;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(3px) saturate(120%);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    #searchInput::placeholder {
      color: whitesmoke;
    }

    .product-list,
    .product-list2 {
      display: flex;
      flex-wrap: wrap;
      margin: 2rem 0 3.5rem;
    }

    .ps5-exc-title {
      color: whitesmoke;
      line-height: 1.5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 30px;
      margin: 3rem 0;
      padding: 20px 8px;
      transition: opacity 0.3s ease;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(5px) saturate(120%);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .product-card {
      background: white;
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      width: calc(50% - 1rem);
      box-sizing: border-box;
      color: white;
      transition: opacity 0.3s ease;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(5px) saturate(120%);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .product-card:hover {
      background: white;
      color: black;
    }

    .product-card:hover .product-price {
      color: black;
      /* Add any other styles you want for the price on hover */
    }

    .product-card img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .product-name {
      margin-top: 0.5rem;
      font-weight: bold;
    }

    .product-version {
      color: red;
    }

    .product-price {
      color: white;
    }

    /* back to top button css
    start */
    #backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    font-size: 20px;
    color: white;
    border-radius: 20%;
    padding: 0.75rem;
    cursor: pointer;
    display: none; /* Hidden by default */
    transition: opacity 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px) saturate(120%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  #backToTopBtn:hover {
    background-color: white;
    color: black;
  }
  /* END */

  /* messenger icon button css start */
#messengerBtn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    font-size: 20px;
    color: #4b0532;
    border-radius: 20%;
    padding: 0.75rem;
    cursor: pointer;
    display: none; /* Hidden by default */
    transition: opacity 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px) saturate(120%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .messenger-photo {
    width: 30px;
    height: 30px;
  }

  #messengerBtn:hover {
    background-color: white;
  }
  /* end */

    /* 4 per row on larger screens */
    @media (min-width: 768px) {
      .product-card {
        width: calc(25% - 1rem);
      }

    }

    @media (max-width: 768px) {
      body {
        background-position: top center;
      }
        .game-desc {
            margin: 0 0 1rem 0;
            font-size: 10px;
        }

        .main-console-div p {
          font-size: 10px;
        }

        #searchInput {
            width: 90%;
            padding: 1rem;
        }

        .banner-div h2 {
            font-size: 20px;
            line-height: 30px;
        }

        .ps5-exc-title {
          padding: 20px 0;
        }
    }